{% extends 'ui/base.html' %}
{% block  content %}
{% if user.is_superuser %}
    {% comment %} <center>
        <h1> Admin page </h1>
        <br/><br/>
    </center> {% endcomment %}
    <li>
        <a>User</a>
    </li>
    <li>
        <a>Payment</a>
    </li>
    <li>
        <a>Booking</a>
    </li>
    <li>
        <a  href="{% url 'show_list' %}" >Show</a>
    </li>
    <li>
        <a>Show seat</a>
    </li>

{% else %}
    <center>
    <h1>Sorry you don't have permission to access this page</h1>
    </center>
{% endif%}
{% endblock %}