{% extends 'ui/base.html' %}

{% block content %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-th="Close"></button>
  </div>
{% endif %}	
{% if user.is_superuser %}
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Booking List</h1>
    <br/>
    <a href="{% url 'add_booking' %}" class="btn btn-primary" role="button">Add</a>
    <br/>    
<br/>
<div class="container">
  <div class="row">
    <table>
    <tr>
        <th>Number of seats</th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>User id</th>
        <th>Show id</th>
    </tr>
      {% for booking in booking_list %}
    <tr>
        <td>
          {{booking.number_of_seats}} 
        </td>
        <td>
            {{booking.timestamp}} 
        </td>
        <td>
            {{booking.amount}}  
        </td>
        <td>
            {{booking.user_id}} 
        </td>
        <td>
            {{booking.show_id}} 
        </td>
        <td>
          <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary" role="button">Edit</a>
        </td>
        <td>
          <a href="{% url 'delete_booking' booking.id %}" class="btn btn-primary" role="button">Delete</a>
        </td> 
    </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br/><br/>
{%else%}
<center>
    <h1>Sorry you don't have permission to access this page</h1>
    </center>
{% endif %}	
{% endblock %}