{% extends 'ui/base.html' %}

{% block content %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-th="Close"></button>
  </div>
{% endif %}	
{% if user.is_superuser %}
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Booking List</h1>
    <br/>
    <a href="{% url 'add_booking' %}" class="btn btn-primary" role="button">Add</a>
    <br/>    
<br/>
<div class="container">
  <div class="row">
    <table>
    <tr>
        <td>Number of seats</td>
        <td>Timestamp</td>
        <td>Status</td>
        <td>User id</td>
        <td>Show id</td>
    </tr>
      {% for booking in booking_list %}
    <tr>
        <th>
          {{booking.number_of_seats}} 
        </th>
        <th>
            {{booking.timestamp}} 
        </th>
        <th>
            {{booking.status}}  
        </th>
        <th>
            {{booking.user_id}} 
        </th>
        <th>
            {{booking.show_id}} 
        </th>
        <th>
          {% if user.is_superuser %}
          <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary" role="button">Edit</a>
          {% endif %}
        </th>
        <th>
          {% if user.is_superuser %}
          <a href="{% url 'delete_booking' booking.id %}" class="btn btn-primary" role="button">Delete</a>
          {% endif %}
        </th> 
    </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br/><br/>
{%else%}
<center>
    <h1>Sorry you don't have permission to access this page</h1>
    </center>
{% endif %}	
{% endblock %}