{% extends 'ui/base.html' %}

{% block content %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-th="Close"></button>
  </div>
{% endif %}	
{% if user.is_superuser %}
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Payment list</h1>
    <br/>
    <a href="{% url 'add_payment' %}" class="btn btn-primary" role="button">Add</a>
    <br/>    
<br/>
<div class="container">
  <div class="row">
    <table>
    <tr>
        <td>Amount</td>
        <td>Timestamp</td>
        <td>Payment method</td>
        <td>Booking id</td>
    </tr>
      {% for payment in payment_list %}
    <tr>
        <th>
          {{payment.amount}} 
        </th>
        <th>
            {{payment.timestamp}} 
        </th>
        <th>
            {{payment.payment_method}}  
        </th>
        <th>
            {{payment.booking_id}} 
        </th>
        <th>
            {% if user.is_superuser %}
            <a href="{% url 'edit_payment' payment.id %}" class="btn btn-primary" role="button">Edit</a>
            {% endif %}
        </th>
        <th>
          {% if user.is_superuser %}
          <a href="{% url 'delete_payment' payment.id %}" class="btn btn-primary" role="button">Delete</a>
          {% endif %}
      </th>
    </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br/><br/>
{%else%}
<center>
    <h1>Sorry you don't have permission to access this page</h1>
    </center>
{% endif %}	
{% endblock %}