{% extends 'ui/base.html' %}
{% block content %}
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-th="Close"></button>
  </div>
{% endif %}	
{% if user.is_superuser %}
	<div class="shadow p-4 mb-5 bg-body rounded">
	<h1>Show seat list</h1>
    <br/>
        <a href="{% url 'add_show_seat' %}" class="btn btn-primary" role="button">Add</a>
    <br/>    
<br/>
<div class="container">
  <div class="row">
    <table>
    <tr>
        <td>Is Empty</td>
        <td>Price</td>
        <td>Cinema Seat id</td>
        <td>Show</td>
        <td>Booking</td>
    </tr>
      {% for show_seat in show_seat_list %}
    <tr>
        <th>
          {{show_seat.is_empty}} 
        </th>
        <th>
            {{show_seat.price}} 
        </th>
        <th>
            {{show_seat.cinema_seat_id}}  
        </th>
        <th>
            {{show_seat.show_id}} 
        </th>
        <th>
            {{show_seat.booking_id}} 
        </th>
        <th>
            <a href="{% url 'edit_show_seat' show_seat.id %}" class="btn btn-primary" role="button">Edit</a>        
        </th>
        <th>
          <a href="{% url 'delete_show_seat' show_seat.id %}" class="btn btn-primary" role="button">Delete</a>        
        </th>
    </tr>
      {% endfor %}
    </table>
  </div>
</div>
<br/><br/>
{%else%}
<center>
    <h1>Sorry you don't have permission to access this page</h1>
    </center>
{% endif %}	
{% endblock %}